@model GuessingGame.Models.GameModel

@{
    ViewBag.Title = "Guessing Game";
}

<h2>@ViewBag.Title</h2>

@if (!(ViewBag.Win ?? false)) //if we havent won
    
                                //TODO why do we use this to initialize the following code ? 
                                //TODO if ViewBag does not equal null do this,
                              //TODO this is used because when the visitor first shows up, he has not played and therefore we need 
                              // to initialize the form to enable the user to play
{
    if(ViewBag.Win != null)
    {
        <h2>Sorry, @Model.PlayerName, @Model.Guess is incorrect</h2>
    }

    using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.PlayerName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(m => m.PlayerName, "", new { @class = "text-danger" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PlayerName, new { AllowHtmlAttribute = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Guess, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(m => m.Guess, "", new { @class = "text-danger" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Guess, new { AllowHtmlAttribute = new { @class = "form-control" } })
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guess" class="btn btn-default" />
            </div>
        </div>
    </div>
    </div>
        //TODO does null represent a placeholder, does it reserve space in memory?
        //TODO why do we use Coalescing operator? 
        //TODO The ?? operator defines a default value that is returned when a nullable type is assigned to a non-nullable type
        //
    }

}
else
{
    <h2>Thats it @Model.PlayerName! The answer was @Model.Guess!</h2>
}

<div>
    @Html.ActionLink("Start Over", "Index")    @*Lets the customer start again, 1= text, 2=where it goes*@
</div>


